/* --------------------------------------------------------
                        News root
---------------------------------------------------------- */
[id^="news"] {
	.content {
		margin-bottom: 10px;
	}
}

.news-page {
	article {
		> header {
			padding-bottom: 15px;

			> h1:first-child {
				margin: 8px auto 15px;
				padding: 0 0 15px;
				color: @text-color;
				border-bottom: 1px solid #eee;

				small {
					color: @main-color;
				}
			}
		}
	}

	/*.vignette-list {
		.time-figure {
			position: relative;
			text-align: center;
			overflow: hidden;
			box-shadow: 0 0 2px rgba(0,0,0,.2);

			.time-published {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				background-color: rgba(255,255,255,0.8);
				font-size: 18px;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				box-shadow: 0 0 3px rgba(0,0,0,.3);
				width: 50%;
				box-sizing: border-box;

				time {
					position: absolute;
				}

				p {
					.title-font;
					margin: 0;
					color: #444;

					&.tday {
						font-size: 50px;
					}
				}
			}
		}
	}*/
}

/*
.pager {
	li > a {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		color: #333;
		border: none;

		&:active,
		&:focus {
			color: @main-color;
			text-decoration: none;
			background-color: transparent;
		}

		.fa-chevron {
			&-right {
				margin-left: 10px;
			}
			&-left {
				margin-right: 10px;
			}
		}
	}

	li {
		&.active,
		&:focus {
			a {
				border-bottom: 1px solid @main-color;
			}
		}
	}

	li.pull {
		&-right a {
			padding-right: 0;
		}
		&-left a {
			padding-left: 0;
		}
	}
}*/
