/*
 * Rules for catalog root, category and subcategory root, product lists and product page
 */
/* --------------------------------------------------------
                        Catalog
---------------------------------------------------------- */
.catalog {
	/*h1:first-child {
		text-align: center;
		padding: 0;
		border: none;
		font-weight: 300;
	}

	hr { margin-bottom: 1.785rem; }

	section > h3 {
		border-bottom: 1px solid #eee;
		margin: 0 auto 1.785rem;
		padding: 0 0 1rem;
		color: @text-color;
	}

	.desc figure {
		.img-responsive;
	}*/

	h3 {
		margin: 0;
		padding: 17px 0;
	}
}

/* --------------------------------------------------------
                         Lists
---------------------------------------------------------- */

.product-list {
	overflow: hidden;
	margin: 0 -15px;

	.section-block{
		margin: 0 -15px;
		padding-right: 30px;
		padding-left: 30px;
		background-color: #eee;
		.shadow(1,inset);
	}
}

/* --------------------------------------------------------
                         Product
---------------------------------------------------------- */
#product {
	article {
		// Normalize the main title of the content
		header {
			margin: 0 auto 25px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			h1 {
				flex: 1 0 100%;
				padding: 0 0 10px;
				border-bottom: 1px solid #eee;
			}
		}
	}

	.interested-form {
		margin: 50px 0 25px;
		span {
			margin: 0 8px;
		}
	}
}