// Compiler options
@import (reference) "components/variables";
@import (reference) "components/colors";
@import (reference) "components/theme";

// Core variables and mixins
@import (reference) "components/mixins";

#gallery {
	margin-bottom: var(--spacer);
}

#default {
	opacity: 1;
	z-index: 1;
	position: static;
	float: left;
	iframe, video, img {
		visibility: visible;
		display: block;
	}
}

.image-gallery {
	// --- Big image
	.big-image {
		margin: 0 0 var(--spacer);
		display: block;
		width: 100%;
		overflow: hidden;
		position: relative;
		//border-top: 1px solid var(--smooth-white);
		//border-bottom: 1px solid var(--smooth-white);

		> div,
		> a {
			opacity: 0;
			left: 0;
			top: 0;
			width: 100%;
			margin: 0 auto;
			z-index: -1;
			//transform: translate(-50%,-50%);
			.transition(opacity 350ms);

			&:hover {
				cursor: zoom-in;
			}

			iframe, video, img {
				visibility: hidden;
				display: none;
				width: 100%;
			}
		}
	}
	// --- controls
	.tns-controls{
		button {
			position: absolute;
			top: 50%;
			display: flex;
			padding: 1rem;
			background: 0 0;
			border: none;
			z-index: 1;
			color: var(--text-color);

			.ico {
				text-shadow: 0 0 1rem rgba(0,0,0,.3);
			}
			&:disabled {
				color: transparent;
				visibility: hidden;
				z-index: -1;
			}

			&:nth-child(1) {
				left: 0;
				transform: translate(-100%,-50%);
			}
			&:nth-child(2) {
				right: 0;
				transform: translate(100%,-50%);
			}
		}
	}
}
@media (min-width: .breakpoint(md)[min]) {
	.image-gallery {
		// --- Button
		.button {
			opacity: 0;
		}

		&:hover {
			.button {
				opacity: 1;
			}
		}
		// --- controls
		.tns-controls{
			width: calc(100% + 6rem);
		}
	}
}