.svn-base
.svn
.idea
.DS_STORE
/app/init/config.php
/upload/*
/media/*
/var/caches/*
/var/minify/*
/var/templates_c/*
/var/tpl_caches/*
/var/logs/*
/var/tmp/*
/admin/caching/minify/*
/admin/caching/caches/*
/admin/caching/templates_c/*
/admin/caching/tpl_caches/*
/admin/template/js/vendor/filemanager/js/jPlayer/node_modules/*
/admin/template/js/vendor/tiny_mce.4.5.7/plugins/fontawesome/node_modules/*
/admin/template/js/vendor/tiny_mce.4.5.7/plugins/youtube/node_modules/*