.svn-base
.svn
.idea
.DS_STORE
/app/init/config.php
/upload/*
/media/*
/var/caches/*
/var/minify/*
/var/templates_c/*
/var/tpl_caches/*
/var/logs/*
/var/tmp/*
/admin/caching/minify/*
/admin/caching/caches/*
/admin/caching/templates_c/*
/admin/caching/tpl_caches/*
/admin/template/js/vendor/filemanager/js/jPlayer/node_modules/*
skin/*
!skin/default
plugins/*
!plugins/contact
!plugins/clearcache