@charset "utf-8";
table {
  border-collapse: collapse;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
.table {
  width: 100%;
  margin-bottom: var(--spacer);
}
.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid var(--brd-default);
}
.table tbody {
  vertical-align: inherit;
}
.table thead th {
  vertical-align: bottom;
  border-bottom-color: var(--dark-color);
}
.table tbody + tbody {
  border-top: 2px solid var(--brd-default);
}
.table-condensed th,
.table-condensed td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid var(--brd-default);
}
.table-bordered th,
.table-bordered td {
  border: 1px solid var(--brd-default);
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}
.table tr td.active,
.table tr th.active,
.table tr.active td,
.table tr.active th {
  background-color: #f5f5f5;
}
.table-hover tbody tr td.active:hover,
.table-hover tbody tr th.active:hover,
.table-hover tbody tr.active:hover td,
.table-hover tbody tr:hover .active,
.table-hover tbody tr.active:hover th {
  background-color: #e8e8e8;
}
.table tr td.success,
.table tr th.success,
.table tr.success td,
.table tr.success th {
  background-color: #dff0d8;
}
.table-hover tbody tr td.success:hover,
.table-hover tbody tr th.success:hover,
.table-hover tbody tr.success:hover td,
.table-hover tbody tr:hover .success,
.table-hover tbody tr.success:hover th {
  background-color: #d0e9c6;
}
.table tr td.info,
.table tr th.info,
.table tr.info td,
.table tr.info th {
  background-color: #d9edf7;
}
.table-hover tbody tr td.info:hover,
.table-hover tbody tr th.info:hover,
.table-hover tbody tr.info:hover td,
.table-hover tbody tr:hover .info,
.table-hover tbody tr.info:hover th {
  background-color: #c4e3f3;
}
.table tr td.warning,
.table tr th.warning,
.table tr.warning td,
.table tr.warning th {
  background-color: #fcf8e3;
}
.table-hover tbody tr td.warning:hover,
.table-hover tbody tr th.warning:hover,
.table-hover tbody tr.warning:hover td,
.table-hover tbody tr:hover .warning,
.table-hover tbody tr.warning:hover th {
  background-color: #faf2cc;
}
.table tr td.danger,
.table tr th.danger,
.table tr.danger td,
.table tr.danger th {
  background-color: #f2dede;
}
.table-hover tbody tr td.danger:hover,
.table-hover tbody tr th.danger:hover,
.table-hover tbody tr.danger:hover td,
.table-hover tbody tr:hover .danger,
.table-hover tbody tr.danger:hover th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 47.999em) {
  .table-responsive {
    width: 100%;
    margin-bottom: 1.21352549rem;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid var(--brd-default);
  }
  .table-responsive .table {
    margin-bottom: 0;
  }
  .table-responsive .table th,
  .table-responsive .table td {
    white-space: nowrap;
  }
  .table-responsive .table-bordered {
    border: 0;
  }
  .table-responsive .table-bordered th:first-child,
  .table-responsive .table-bordered td:first-child {
    border-left: 0;
  }
  .table-responsive .table-bordered th:last-child,
  .table-responsive .table-bordered td:last-child {
    border-right: 0;
  }
  .table-responsive .table-bordered tbody tr:last-child th,
  .table-responsive .table-bordered tfoot tr:last-child th,
  .table-responsive .table-bordered tbody tr:last-child td,
  .table-responsive .table-bordered tfoot tr:last-child td {
    border-bottom: 0;
  }
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: var(--spacer);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-size: 0.8em;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.d1,
.d2,
.d3,
.d4,
.d5,
.d6 {
  margin-top: 0;
  margin-bottom: calc(var(--spacer) * 2);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color);
}
.d1 small,
.d2 small,
.d3 small,
.d4 small,
.d5 small,
.d6 small,
.d1 .small,
.d2 .small,
.d3 .small,
.d4 .small,
.d5 .small,
.d6 .small {
  font-size: 0.8em;
}
.d1 {
  font-size: 5rem;
}
.d2 {
  font-size: 4.5rem;
}
.d3 {
  font-size: 4rem;
}
.d4 {
  font-size: 3.5rem;
}
.d5 {
  font-size: 3rem;
}
.d6 {
  font-size: 2.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.15rem;
  font-weight: 300;
}
small,
.small {
  font-size: 0.875rem;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: 0.2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  word-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.text-nowrap {
  white-space: nowrap;
}
.lower {
  text-transform: lowercase;
}
.upper {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: var(--font-bold);
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
@media (min-width: 48em) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.link-bar {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  --link-font: var(--font-family);
  --link-weight: var(--font-weight);
  --link-color: var(--text-color);
  --link-hover-deco: underline;
  --link-hover-color: var(--main-color);
}
.link-bar li {
  margin: 0;
  padding: 0;
}
.link-bar li a {
  padding: 0.5rem 1rem;
  display: block;
  border-bottom: 1px solid var(--link-color);
}
.link-bar li:last-child a {
  border-bottom: none;
}
@media (min-width: 48em) {
  .link-bar {
    flex-direction: row;
  }
  .link-bar li a {
    border-bottom: none;
    border-right: 1px solid var(--link-color);
  }
  .link-bar li:last-child a {
    border-right: none;
  }
}
.link-list li a {
  display: inline-block;
  padding: 2px 0 3px;
}
.touchscreen .link-list li a {
  padding: 10px 0;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
b,
strong {
  font-weight: var(--font-bold);
}
/*.material-icons {
	vertical-align: bottom;
}*/
.quote {
  font-family: Georgia, serif;
}
.all-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
blockquote {
  margin: 0 0 1rem;
  padding-left: 3rem;
  position: relative;
}
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  left: 0;
  top: 0;
  content: "“";
  color: #777777;
  font-size: 5rem;
  line-height: 1;
}
blockquote p {
  text-align: justify;
  word-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  color: #777777;
}
blockquote footer {
  font-family: Georgia, serif;
  text-align: right;
}
blockquote footer:before {
  content: "\2014 \00A0";
}
blockquote footer:after {
  content: "\00A0 \2014";
}
.blockquote-reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
}
.img-galery,
.img-zoom {
  z-index: 1;
}
.img-float {
  margin: 0 0 1rem;
}
.img-float.float-right {
  float: right;
}
.img-float.float-left {
  float: left;
}
@media (min-width: 33.5em) {
  .img-float.float-right {
    margin: 0 0 1rem 1rem;
  }
  .img-float.float-left {
    margin: 0 1rem 1rem 0;
  }
  .img-float.float-right,
  .img-float.float-left {
    max-width: 50%;
  }
}
figure > figcaption {
  text-align: center;
  font-size: 90%;
  font-style: italic;
  color: #777777;
  padding: 0.5rem 0;
}
/*
 * Custom rules for buttons
 */
.btn {
  --bg-h: var(--btn-bg-h, 255);
  --bg-s: var(--btn-bg-s, 100);
  --bg-l: var(--btn-bg-l, 100);
  --bg-a: var(--btn-bg-a, 1);
  --btn-bg: hsla(var(--bg-h), var(--bg-s), var(--bg-l), var(--bg-a));
  --brd-h: var(--btn-brd-h, 255);
  --brd-s: var(--btn-brd-s, 100);
  --brd-l: var(--btn-brd-l, 100);
  --brd-a: var(--btn-brd-a, 1);
  --btn-brd: hsla(var(--brd-h), var(--brd-s), var(--brd-l), var(--brd-a));
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: var(--btn-bg-img, none);
  border: 1px solid var(--btn-border-color, var(--btn-brd, inherit));
  white-space: nowrap;
  padding: var(--btn-padding-vertical, 6px) var(--btn-padding-horizontal, 12px);
  font-size: var(--btn-font-size, 1rem);
  line-height: var(--btn-line-height, 1.61803399);
  border-radius: var(--btn-border-radius, 0.5rem);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-color, inherit);
  background-color: var(--btn-bg-color, var(--btn-bg, inherit));
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: var(--btn-color, inherit);
  --bg-l: calc(var(--btn-bg-l) * 0.9);
  --btn-bg-img: var(--btn-hover-bg-img);
  --btn-bg-color: var(--btn-hover-bg-color, var(--btn-bg, inherit));
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  --brd-l: calc(var(--btn-brd-l) * 0.75);
  --btn-border-color: var(--btn-focus-border-color, var(--btn-brd, inherit));
}
.btn:hover {
  --brd-l: calc(var(--btn-brd-l) * 0.88);
  --btn-border-color: var(--btn-hover-border-color, var(--btn-brd, inherit));
}
.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active,
.open > .dropdown-toggle.btn {
  color: var(--btn-color, inherit);
  --bg-l: calc(var(--btn-bg-l) * 0.9);
  --btn-bg-color: var(--btn-hover-bg-color, var(--btn-bg, inherit));
  --btn-bg-img: var(--btn-hover-bg-img);
  --brd-l: calc(var(--btn-brd-l) * 0.88);
  --btn-border-color: var(--btn-hover-border-color, var(--btn-brd, inherit));
}
.btn:active:hover,
.btn.active:hover,
.open > .dropdown-toggle.btn:hover,
.btn:active:focus,
.btn.active:focus,
.open > .dropdown-toggle.btn:focus,
.btn:active.focus,
.btn.active.focus,
.open > .dropdown-toggle.btn.focus {
  color: var(--btn-color, inherit);
  --bg-l: calc(var(--btn-bg-l) * 0.83);
  --btn-bg-color: var(--btn-ahf-bg-color, var(--btn-bg, inherit));
  --btn-bg-img: var(--btn-ahf-bg-img);
  --brd-l: calc(var(--btn-brd-l) * 0.75);
  --btn-border-color: var(--btn-hover-focus-color, var(--btn-brd, inherit));
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled.focus,
.btn[disabled].focus,
fieldset[disabled] .btn.focus {
  --btn-bg: var(--btn-bg);
  --btn-bg-img: var(--btn-ahf-bg-img);
  --btn-brd: var(--btn-brd);
}
.btn .badge {
  color: var(--btn-bg, inherit);
  background-color: var(--btn-color, inherit);
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  --btn-color: var(--text-color);
  --btn-bg-h: var(--default-color-h);
  --btn-bg-s: var(--default-color-s);
  --btn-bg-l: var(--default-color-l);
  --btn-bg-a: var(--default-color-a);
  --btn-brd-h: var(--default-brd-h);
  --btn-brd-s: var(--default-brd-s);
  --btn-brd-l: var(--default-brd-l);
  --btn-brd-a: var(--default-brd-a);
}
.btn-link {
  color: var(--link-color);
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-deco);
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg {
  --btn-padding-vertical: 10px;
  --btn-padding-horizontal: 16px;
  --btn-font-size: 1.25rem;
  --btn-line-height: 2;
  --btn-border-radius: 1rem;
}
.btn-sm {
  --btn-padding-vertical: 5px;
  --btn-padding-horizontal: 10px;
  --btn-font-size: 0.875rem;
  --btn-line-height: 1.25;
  --btn-border-radius: 0.25rem;
}
.btn-xs {
  --btn-padding-vertical: 1px;
  --btn-padding-horizontal: 5px;
  --btn-font-size: 0.875rem;
  --btn-line-height: 1.25;
  --btn-border-radius: 0.25rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn.btn-main {
  --btn-color: var(--white);
  --btn-bg-h: 219.27272727;
  --btn-bg-s: 47.82608696%;
  --btn-bg-l: 45.09803922%;
  --btn-bg-a: 1;
  --btn-brd-h: 219.27272727;
  --btn-brd-s: 47.82608696%;
  --btn-brd-l: 45.09803922%;
  --btn-brd-a: 1;
}
.btn.btn-main-outline {
  --btn-color: var(--main-color);
  --btn-bg: transparent;
  --btn-brd: var(--main-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--main-color);
  --btn-focus-border-color: var(--main-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-main-outline:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-main-outline:hover {
  color: var(--white);
}
.btn.btn-main-outline:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-main-invert {
  --btn-color: var(--text-color);
  --btn-bg: transparent;
  --btn-brd: var(--text-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--main-color);
  --btn-focus-border-color: var(--main-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-main-invert:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-main-invert:hover {
  color: var(--white);
}
.btn.btn-main-invert:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-main-white {
  --btn-color: var(--white);
  --btn-bg: transparent;
  --btn-brd: var(--white);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--main-color);
  --btn-focus-border-color: var(--main-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-main-white:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-main-white:hover {
  color: var(--white);
}
.btn.btn-main-white:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-sd {
  --btn-color: var(--white);
  --btn-bg-h: 216;
  --btn-bg-s: 2.00803213%;
  --btn-bg-l: 51.17647059%;
  --btn-bg-a: 1;
  --btn-brd-h: 216;
  --btn-brd-s: 2.00803213%;
  --btn-brd-l: 51.17647059%;
  --btn-brd-a: 1;
}
.btn.btn-sd-outline {
  --btn-color: var(--sd-color);
  --btn-bg: transparent;
  --btn-brd: var(--sd-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--sd-color);
  --btn-focus-border-color: var(--sd-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-sd-outline:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--sd-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-sd-outline:hover {
  color: var(--white);
}
.btn.btn-sd-outline:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-sd-invert {
  --btn-color: var(--text-color);
  --btn-bg: transparent;
  --btn-brd: var(--text-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--sd-color);
  --btn-focus-border-color: var(--sd-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-sd-invert:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--sd-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-sd-invert:hover {
  color: var(--white);
}
.btn.btn-sd-invert:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-sd-white {
  --btn-color: var(--white);
  --btn-bg: transparent;
  --btn-brd: var(--white);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--sd-color);
  --btn-focus-border-color: var(--sd-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-sd-white:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--sd-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-sd-white:hover {
  color: var(--white);
}
.btn.btn-sd-white:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-dark {
  --btn-color: var(--white);
  --btn-bg-h: 0;
  --btn-bg-s: 0%;
  --btn-bg-l: 20%;
  --btn-bg-a: 1;
  --btn-brd-h: 0;
  --btn-brd-s: 0%;
  --btn-brd-l: 20%;
  --btn-brd-a: 1;
}
.btn.btn-dark-outline {
  --btn-color: var(--dark-color);
  --btn-bg: transparent;
  --btn-brd: var(--dark-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--dark-color);
  --btn-focus-border-color: var(--dark-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-dark-outline:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--dark-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-dark-outline:hover {
  color: var(--white);
}
.btn.btn-dark-outline:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-dark-invert {
  --btn-color: var(--text-color);
  --btn-bg: transparent;
  --btn-brd: var(--text-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--dark-color);
  --btn-focus-border-color: var(--dark-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-dark-invert:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--dark-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-dark-invert:hover {
  color: var(--white);
}
.btn.btn-dark-invert:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-dark-white {
  --btn-color: var(--white);
  --btn-bg: transparent;
  --btn-brd: var(--white);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--dark-color);
  --btn-focus-border-color: var(--dark-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-dark-white:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--dark-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-dark-white:hover {
  color: var(--white);
}
.btn.btn-dark-white:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-green {
  --btn-color: var(--white);
  --btn-bg-h: 120;
  --btn-bg-s: 38.72340426%;
  --btn-bg-l: 53.92156863%;
  --btn-bg-a: 1;
  --btn-brd-h: 120;
  --btn-brd-s: 38.72340426%;
  --btn-brd-l: 53.92156863%;
  --btn-brd-a: 1;
}
.btn.btn-green-outline {
  --btn-color: var(--green-color);
  --btn-bg: transparent;
  --btn-brd: var(--green-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--green-color);
  --btn-focus-border-color: var(--green-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-green-outline:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--green-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-green-outline:hover {
  color: var(--white);
}
.btn.btn-green-outline:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-green-invert {
  --btn-color: var(--text-color);
  --btn-bg: transparent;
  --btn-brd: var(--text-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--green-color);
  --btn-focus-border-color: var(--green-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-green-invert:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--green-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-green-invert:hover {
  color: var(--white);
}
.btn.btn-green-invert:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-green-white {
  --btn-color: var(--white);
  --btn-bg: transparent;
  --btn-brd: var(--white);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--green-color);
  --btn-focus-border-color: var(--green-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn.btn-green-white:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--green-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn.btn-green-white:hover {
  color: var(--white);
}
.btn.btn-green-white:hover:before {
  width: calc(100% + 4px);
}
.btn.btn-pdf {
  --btn-color: var(--main-color);
  --btn-bg: transparent;
  --btn-brd: var(--main-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--main-color);
  --btn-focus-border-color: var(--main-color);
  margin-right: 1rem;
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  padding-left: 3.25rem;
}
.btn.btn-pdf:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icofont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
  color: var(--main-color);
  position: absolute;
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 1.5rem;
  top: 0;
  left: 1rem;
  z-index: -1;
  font-size: 1.5rem;
}
.btn.btn-pdf:before {
  content: "\e933";
}
.btn-invert-white {
  --btn-color: var(--white);
  --btn-bg: transparent;
  --btn-brd: var(--white);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--white);
  --btn-focus-border-color: var(--white);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn-invert-white:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--white);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn-invert-white:hover {
  color: var(--dark-color);
}
.btn-invert-white:hover:before {
  width: calc(100% + 4px);
}
.btn-invert {
  --btn-color: var(--text-color);
  --btn-bg: transparent;
  --btn-brd: var(--text-color);
  --btn-hover-bg-color: transparent;
  --btn-ahf-bg-color: transparent;
  --btn-hover-border-color: var(--text-color);
  --btn-focus-border-color: var(--text-color);
  --btn-padding-vertical: 0.5rem;
  --btn-padding-horizontal: 1rem;
  --btn-font-size: 1rem;
  --btn-line-height: 1.61803399;
  --btn-border-radius: 0.5rem;
  position: relative;
  border-width: 2px;
  z-index: 2;
  transition: all 0.25s ease 0s;
}
.btn-invert:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: calc(100% + 4px);
  width: 0;
  top: -2px;
  left: -2px;
  background-color: var(--text-color);
  z-index: -1;
  transition: 0.25s;
  border-radius: 0.5rem;
}
.btn-invert:hover {
  color: var(--bogy-bg);
}
.btn-invert:hover:before {
  width: calc(100% + 4px);
}
.btn-box {
  --btn-border-radius: 0;
}
.cms-img-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(var(--spacer) / -2);
  margin-right: calc(var(--spacer) / -2);
}
.cms-img-gallery > div {
  padding: calc(var(--spacer) / 2);
}
.cms-img-gallery a.img-gallery {
  display: block;
}
.display {
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  padding: 2rem 0;
  max-width: 100%;
}
.display .container {
  padding: 0;
}
.display .container > .row {
  align-items: center;
}
@media (max-width: 47.999em) {
  .display {
    padding: 1rem 0;
  }
  .display img {
    margin-bottom: 1rem;
  }
}
.presentation > .row:first-child {
  align-items: center;
}
.presentation .project-name {
  font-weight: 500;
}
.presentation .project-section {
  font-weight: 300;
  color: var(--sd-color);
}
.presentation .main-img {
  margin-bottom: 2rem;
}
.presentation .details {
  --details-cw: 200px;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(var(--details-cw), 1fr));
  margin-bottom: 1rem;
}
.presentation .details > p {
  margin-bottom: 0;
  padding: 0 calc(var(--grid-gutter / 2)) 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.presentation .details > p .title-tr {
  color: #c2c2c2;
  font-weight: 300;
}
.presentation .tns-controls {
  display: none;
}
@media (max-width: 47.999em) {
  .presentation .main-img img {
    margin: 0 auto;
  }
}
@media (min-width: 48em) {
  .presentation .details {
    grid-template-columns: repeat(auto-fill, minmax(var(--details-cw), 25%));
  }
}
@font-face {
  font-family: 'Icofont';
  src: url('../fonts/Icofont.ttf?64p4bc') format('truetype'), url('../fonts/Icofont.woff?64p4bc') format('woff'), url('../fonts/Icofont.svg?64p4bc#Icofont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icofont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-tools:before {
  content: "\e914";
}
.ico-schedule:before {
  content: "\e90c";
}
.ico-add:before {
  content: "\e934";
}
.ico-arrow_drop_down:before {
  content: "\e918";
}
.ico-arrow_drop_up:before {
  content: "\e919";
}
.ico-arrow_left:before {
  content: "\e91b";
}
.ico-arrow_right:before {
  content: "\e91c";
}
.ico-assignment:before {
  content: "\e932";
}
.ico-check:before {
  content: "\e91d";
}
.ico-close:before {
  content: "\e935";
}
.ico-copyright:before {
  content: "\e91e";
}
.ico-edit:before {
  content: "\e937";
}
.ico-credit_card:before {
  content: "\e92c";
}
.ico-directions:before {
  content: "\e91f";
}
.ico-email:before {
  content: "\e920";
}
.ico-error_outline:before {
  content: "\e921";
}
.ico-disk:before {
  content: "\e904";
}
.ico-fullscreen:before {
  content: "\e903";
}
.ico-home:before {
  content: "\e922";
}
.ico-info_outline:before {
  content: "\e923";
}
.ico-keyboard_arrow_down:before {
  content: "\e924";
}
.ico-keyboard_arrow_left:before {
  content: "\e925";
}
.ico-keyboard_arrow_right:before {
  content: "\e926";
}
.ico-keyboard_arrow_up:before {
  content: "\e927";
}
.ico-label:before {
  content: "\e90a";
}
.ico-shopping_cart:before {
  content: "\e91a";
}
.ico-print:before {
  content: "\e901";
}
.ico-shipping:before {
  content: "\e928";
}
.ico-location:before {
  content: "\e929";
}
.ico-circle:before {
  content: "\e912";
}
.ico-phone:before {
  content: "\e92b";
}
.ico-remove:before {
  content: "\e936";
}
.ico-search:before {
  content: "\e92d";
}
.ico-share:before {
  content: "\e92e";
}
.ico-smartphone:before {
  content: "\e92f";
}
.ico-square:before {
  content: "\e913";
}
.ico-storefront:before {
  content: "\e92a";
}
.ico-toc:before {
  content: "\e930";
}
.ico-verified_user:before {
  content: "\e931";
}
.ico-warning:before {
  content: "\e902";
}
.ico-at:before {
  content: "\e900";
}
.ico-file-pdf:before {
  content: "\e933";
}
.ico-spinner:before {
  content: "\e905";
}
.ico-tag:before {
  content: "\e906";
}
.ico-tags:before {
  content: "\e907";
}
.ico-tiktok:before {
  content: "\e915";
}
.ico-facebook:before {
  content: "\e908";
}
.ico-github:before {
  content: "\e909";
}
.ico-instagram:before {
  content: "\e90b";
}
.ico-linkedin:before {
  content: "\e90d";
}
.ico-pinterest:before {
  content: "\e90e";
}
.ico-soundcloud:before {
  content: "\e90f";
}
.ico-tumblr:before {
  content: "\e916";
}
.ico-twitter:before {
  content: "\e910";
}
.ico-viadeo:before {
  content: "\e911";
}
.ico-youtube:before {
  content: "\e917";
}
@font-face {
  font-family: 'Icofont';
  src: url('../fonts/Icofont.ttf') format('truetype'), url('../fonts/Icofont.woff') format('woff'), url('../fonts/Icofont.svg#Icofont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.ico {
  speak: none;
  display: inline-block;
}
.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.fa,
.fab,
.fas,
.far {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-fw {
  text-align: center;
  width: 1.25em;
}
.fa-spin {
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  animation: fa-spin 1s infinite steps(8);
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=content.css.map */