//
// Grid system
// --------------------------------------------------

// Phone grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.
:root {
	--grid-column: @grid-columns;
	--grid-gutter: 1rem;
}

// Container widths
.container, .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: ~"calc(var(--grid-gutter) / 2)";
	padding-right: ~"calc(var(--grid-gutter) / 2)";
	width: 100%;
}

.container {
	@media (min-width: .breakpoint(md)[min]) {
		max-width: @container-md;
	}
	@media (min-width: .breakpoint(lg)[min]) {
		max-width: @container-lg;
	}
	@media (min-width: .breakpoint(xl)[min]) {
		max-width: @container-xl;
	}
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: ~"calc(var(--grid-gutter) / -2)";
	margin-right: ~"calc(var(--grid-gutter) / -2)";

	&-center { justify-content: center; }
	&-reversed { flex-direction: row-reverse; }
}

// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();

.make-grid();

@media (min-width: .breakpoint(md)[min]) {
	:root {
		--grid-gutter: 2rem;
	}
}
