//--------------------------------------------------------
//                      Snippets
//--------------------------------------------------------
.cms-img-gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: calc(var(--spacer) / -2);
	margin-right: calc(var(--spacer) / -2);

	> div {
		padding: calc(var(--spacer) /2);
	}

	a.img-gallery {
		display: block;
	}
}

.display {
	position: relative;
	left: 50%;
	width: 100vw;
	transform: translateX(-50%);
	padding: 2rem 0;
	max-width: 100%;

	.container {
		padding: 0;
		> .row {
			align-items: center;
		}
	}
}

@media (max-width: .breakpoint(sm)[max]) {
	.display {
		padding: 1rem 0;

		img {
			margin-bottom: 1rem;
		}
	}
}

.presentation {
	> .row:first-child {
		align-items: center;
	}
	.project-name {
		font-weight: 500;
	}
	.project-section {
		font-weight: 300;
		color: var(--sd-color);
	}
	.main-img {
		margin-bottom: 2rem;
	}
	.details {
		--details-cw: 200px;
		display: grid;
		grid-column-gap: 0;
		grid-row-gap: 0;
		grid-template-columns: repeat( auto-fill, minmax(var(--details-cw), 1fr));
		margin-bottom: 1rem;

		> p {
			margin-bottom: 0;
			padding: 0 calc(var(--grid-gutter/2)) 1rem;
			font-size: 1.25rem;
			font-weight: 500;

			.title-tr {
				color: #c2c2c2;
				font-weight: 300;
			}
		}
	}
	.tns-controls {
		display: none;
	}
}

@media (max-width: .breakpoint(sm)[max]) {
	.presentation {
		.main-img img {
			margin: 0 auto;
		}
	}
}
@media (min-width: @grid-float-breakpoint) {
	.presentation {
		.details {
			grid-template-columns: repeat( auto-fill, minmax(var(--details-cw),25%) );
		}
	}
}