.dropdown-select {
	position: relative;
	height: 38px;

	.dropdown {
		width: 100%;
		position: absolute;
		z-index: @z-allhover + 1;
	}

	.btn {
		padding-right: 6px;
		text-align: left;
	}

	.show-less,
	.show-more {
		float: right;
	}

	.normalize-link(@text-color);
}

/*
.dropdown {
	amp-accordion>section {
		header {
			background-color: transparent;
			border: none;
			padding: 0;
		}

		&:not([expanded]) {
			> header {
				.show-less {
					display: none;
				}
			}
		}

		&[expanded] {
			> header {
				.show-more {
					display: none;
				}
			}
		}

		> div:last-child,
		> amp-accordion {
			background-color: #fff;
			box-shadow: 0 0 3px rgba(0,0,0,.4);

			ul {
				margin-bottom: 0;
			}

			li a {
				display: block;
				padding: 5px 8px;
				color: @text-color;

				&:focus, &:active {
					background-color: @main-color;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}*/
