body {
	position: relative;
	color: #222;
}

#footer_page {
	position: absolute;
	bottom: 0;
	font-size: 11px !important;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}

.contact-info {
	font-size: 14px;
	padding-left: 20px;
}


// ------ GRID
.row {
	margin-left: -15px;
	margin-right: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
}

.col-1 {
	width: 8.333333333333333%;
}
.col-2 {
	width: 16.66666666666667%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33333333333333%;
}
.col-5 {
	width: 41.66666666666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333333333%;
}
.col-8 {
	width: 66.66666666666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333333333%;
}
.col-11 {
	width: 91.66666666666667%;
}
.col-12 {
	width: 100%;
}