//
// Rules for footer
//
#footer {
	margin-bottom: @footbarH;

	// Global footer rules
	h4 {
		margin: 0 0 20px;
		border-bottom: 1px solid @light-gray;
		padding-bottom: 10px;
		a {
			.title-font;
		}
	}

	.block {
		padding: 20px 0;
		margin-bottom: 20px;
		border-top: 1px solid @light-gray;

		&:last-child {
			margin-bottom: 0;
		}
	}

	/*&-blocks {
		padding: 20px 0;
	}*/

	// --- Block links
	.link-list {
		li {
			a {
				display: inline-block;
				padding: 2px 0 3px;
			}
		}
	}
}

#block {
	// --- Block contact
	&-contact {
		li {
			margin: 5px 0 15px;

			&.phone-number {
				font-size: 20px;
			}
		}

		&.fa,
		&.material-icons{
			width: 30px;
			font-size: 20px;
		}
	}
}

#colophon {
	//background-color: @colophon-bg;
	.footer-colophon {
		border-top: 1px solid @light-gray;
		padding: 15px;
		font-size: 85%;

		p {
			margin: 0;
			padding: 0;
		}
	}
	.material-icons {
		font-size: inherit;
		vertical-align: middle;
	}
}

#footbar {
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	max-width: 37.5rem;
	z-index: 2;
	padding: 0;
	background-color: @main-color;

	.share-nav {
		background: @sharebar-bg;
		padding: 8px 15px;
		height: @sharebrH;
		box-sizing: border-box;
		box-shadow: 0 0 1px rgba(0,0,0,.2) inset;
		margin: 0;

		li {
			float: left;
			margin-right: 15px;
		}
	}

	amp-accordion>section {
		header {
			background-color: transparent;
			border: none;
			padding: 3px 0;

			> div {
				display: flex;
				justify-content: space-between;
			}
		}

		&[expanded] {
			margin-bottom: -@sharebrH;

			header {
				padding-top: @sharebrH;
			}
		}
	}

	amp-accordion>section[expanded]>:last-child {
		bottom: @footbarH + @sharebrH;
		height: @sharebrH;
	}
}