//
// Predefine style for menu
//
// Toggle menu button
amp-sidebar {
	background-color: #fff;
	.shadow(16);

	> div:last-child { display: none; }
}

.sidebar {
	margin: 0;
	max-width: 37.5rem;
	width: 65vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	z-index: @z-drawer;

	@media (min-width: @screen-xs-min) {
		width: 50vw;
	}

	> header {
		display: flex;
		justify-content: center;
		padding: 15px;
		background-color: @main-color;
		color: #fff;
	}

	> li {
		list-style: none;
		margin-bottom:10px;
	}
}

.close-sidebar {
	position: absolute;
	left: 0;
	top: -1px;
	padding: 15px;
}

.menu {
	flex: 1 0 auto;

	a {
		display: block;
		padding: 15px;
		background-color: transparent;
		color: @text-color;
		border-bottom: 1px solid #dfdfdf;

		&:focus, &:active {
			color: @main-color;
		}
	}

	amp-accordion {
		> section {
			header {
				background-color: transparent;
				border: none;
				padding: 0;

				.material-icons {
					padding: 15px;
					display: block;
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			&:not([expanded]) {
				> header > .show-less {
					display: none;
				}
			}

			&[expanded] {
				> header > .show-more {
					display: none;
				}
			}
		}
	}

	.nested-accordion {
		padding: 0 0 0 15px;
		background: #eee;

		> section,
		> .section {
			background: #fff;

			> div {
				padding: 0 0 0 15px;
				background: #eee;
				border-left: 1px solid rgba(0,0,0,.1);
			}
		}

		ul {
			background: #fff;
		}
	}
}