//
// Predefine style for menu
//
// Toggle menu button
amp-sidebar {
	background-color: #fff;
	z-index: @z-drawer;
	.shadow(16);

	> div:last-child { display: none; }
}

[class*="amphtml-sidebar-mask"] {
	z-index: 100;
}

.sidebar {
	margin: 0;
	max-width: 37.5rem;
	width: 65vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media (min-width: @screen-xs-min) {
		width: 50vw;
	}

	> header {
		display: flex;
		justify-content: center;
		padding: 0 15px;
		height: @headerH;
		margin-bottom: 15px;
	}

	footer {
		.followbox {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			li a {
				width: 35px;
				height: 35px;
				font-size: 16px;
			}

			.share-buttons(coloronly,coloronly,#222);
		}
	}
}

.menu {
	flex: 1 0 auto;
	margin: 0;

	a {
		display: block;
		padding: 12px 15px;
		background-color: transparent;
	}

	a, a:visited {
		color: @menu-color;
	}

	a:focus {
		text-decoration: none;
		color: @menu-hover-color;
		background: @menu-hover-bg;
	}

	section {
		position: relative;

		header {
			background-color: transparent;
			border: none;
			padding: 0;

			.material-icons {
				padding: 10px 15px;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.show-more > i {
			.auto-transition(.2s);
			transform: scale(1,1);
		}

		/*&:not([expanded]) {
			.show-more > i {
				transform: scale(1,1);
			}
		}*/

		&[expanded] {
			> header .show-more > i {
				transform: scale(1,0);
			}
		}

		&.active header a {
			color: @menu-active-color;
		}

		section {
			.material-icons {
				padding: 4px 15px;
			}

			a {
				padding: 7px 15px 7px 25px;
				font-size: .89rem;
			}

			a, a:visited {
				color: @submenu-color;
			}

			a:focus {
				color: @submenu-hover-color;
				background: @submenu-hover-bg;
			}

			a:active,
			&.active a {
				color: @submenu-active-color;
				background: @submenu-active-bg;
			}
		}
	}
}