//
// Social Share Buttons
//
.share-nav {
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		width: 32px;

		&:focus, &:active {
			text-decoration: none;
		}
	}

	.fab {
		color: @white;

		&:before {
			vertical-align: middle;
		}
		.fa-google-plus-g:before {
			font-size: 1rem;
			margin-top: 3px;
			display: block;
		}
		.fa-viadeo:before {
			position: relative;
			top: -2px;
		}
	}

	// --- set the background of the social share buttons
	.share-buttons(flat,dark);
}

.sharebar {
	background-color: @white;

	.label {
		color: @light-grey;
		font-size: 1.15rem;
	}

	.followbox {
		li {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
			}
		}

		ul {
			margin: 0 0 18px;
		}
	}
}