// Grid system
//

// Creates a wrapper for a series of columns
.make-row() {
	display: flex;
	flex-wrap: wrap;
	margin-left: ~"calc(var(--grid-gutter) / 2)";
	margin-right: ~"calc(var(--grid-gutter) / 2)";
}
.make-rows(@class) {
	.row-@{class}-center {
		justify-content: center;
	}
	.row-@{class}-reverse {
		flex-direction: row-reverse;
	}
}

// Generate the phone columns
.make-column(@columns, @type) when (@type = col){
	--nbcol: @columns;
}
.make-column(@columns, @type) when (@type = push){
	--push: @columns;
}
.make-column(@columns, @type) when (@type = pull){
	--pull: @columns;
}
.make-column(@columns, @type) when (@type = offset){
	--offset: @columns;
}

.make-grid-columns() {
	[class*="col-"] {
		--col-width: calc(var(--nbcol)/var(--grid-column));
		position: relative;
		// Prevent columns from collapsing when empty
		min-height: 1px;
		// Inner gutter via padding
		padding-left: ~"calc(var(--grid-gutter) / 2)";
		padding-right: ~"calc(var(--grid-gutter) / 2)";
		left: auto;
		right: auto;
		flex: 0 0 ~"calc(100% * var(--col-width))";
		max-width: ~"calc(100% * var(--col-width))";
	}
	[class*="push-"] {
		left: ~"calc(100% * (var(--push)/var(--grid-column)))";
	}
	[class*="pull-"] {
		right:  ~"calc(100% * (var(--pull)/var(--grid-column)))";
	}
	[class*="offset-"] {
		margin-left:  ~"calc(100% * (var(--offset)/var(--grid-column)))";
	}
}

.calc-grid-column(@class, @index, @type) when (@index > 0) and not(@class = ph) {
	.@{type}-@{class}-@{index} {
		.make-column(@index, @type);
	}
}
.calc-grid-column(@class, @index, @type) when (@index > 0) and (@class = ph) {
	.@{type}-@{index} {
		.make-column(@index, @type);
	}
}

// Basic looping in LESS
.loop-grid-columns(@index, @class, @type) when (@index >= 0) {
	.calc-grid-column(@class, @index, @type);
	// next iteration
	.loop-grid-columns((@index - 1), @class, @type);
}

// Create grid for specific class
.make-grid(@class) {
	@grid-columns-var: "grid-columns-@{class}";
	.loop-grid-columns(@@grid-columns-var, @class, col);
	.loop-grid-columns(@@grid-columns-var, @class, pull);
	.loop-grid-columns(@@grid-columns-var, @class, push);
	.loop-grid-columns(@@grid-columns-var, @class, offset);
}