@import "foundation/foundation-emails";

$global-font-weight: 400;

$body-font-family: Helvetica, Arial, sans-serif !important;

.header {
    .columns {
        padding-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .wrapper-inner {
        padding: 0;
    }

    /*.container td {
        padding: 30px;
    }*/
}

.footer {
    p{
        margin-bottom: 0;
    }
    ul{
        list-style: none;
    }
    /*.container td{
        padding: 30px;
    }*/
}