@import "foundation/foundation-emails";

$global-font-weight: 400;

$body-font-family: Helvetica, Arial, sans-serif !important;

.header {
    .columns {
        padding-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .wrapper-inner {
        padding: 0;
    }

    .container td {
        padding: 15px;
    }
}

/*.body table.container {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}*/

.footer {
    p{
        margin-bottom: 0;
    }
    ul{
        list-style: none;
    }
    .container td{
        padding: 15px;
    }
}

/*
.vignette {
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.14),0 3px 4px 0 rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}*/
