<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2008 - 2017 Gerits Aurelien,
 * http://www.magix-cms.com
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: May 22 16:15 2017
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Gerits Aurelien</name>
				<website href="https://www.magix-cms.com" />
			</author>
		</authors>
		<release>
			<date_create>08/04/2019</date_create>
			<version>1.1</version>
			<phase>Stable</phase>
		</release>
		<support>
			<ticket href="https://github.com/magix-cms/magixcms/issues" />
			<git href="https://github.com/magix-cms/magixcms" />
		</support>
	</data>
</config>