//
// Social Share Buttons
//
.share-nav {
	> li > a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2.5rem;
		width: 2.5rem;
		padding: 0;

		&:focus, &:active {
			text-decoration: none;
		}
	}

	.fab {
		color: var(--white);
		
		.fa-google-plus-g:before {
			font-size: 1rem;
			margin-top: 3px;
			display: block;
		}
		.fa-viadeo:before {
			position: relative;
			top: -2px;
		}
	}

	// --- set the background of the social share buttons
	.share-buttons(flat,dark);
}

/*.sharebar {
	.label {
		color: var(--light-grey);
		font-size: 1.15rem;
	}

	.followbox {
		 //@media (max-width: @screen-md-max) {
		 display: flex;
		 flex-flow: column;
		 align-items: center;
		
		 li {
			 a {
				 display: flex;
				 width: 2rem;
				 height: 2rem;
				 justify-content: center;
				 align-items: center;
				 border-radius: 50%;
				 color: var(--white);
			 }
		 }
		
		 ul {
			 margin: 0 0 1.5rem;
		 }
		 //}
	 }
}*/

.followbox {
	.h4 {
		text-align: center;
	}
	li {
		a {
			display: flex;
			width: 3rem;
			height: 3rem;
			justify-content: center;
			align-items: center;
			color: var(--white);
		}
	}
	
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 0 1.5rem;
	}
}