//
// Rules for footer
//
@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
	#block-socials { order: 1; }
	#block-sitemap { order: 2; }
	#block-contact { order: 3; }
	#block-about { order: 4; }
	#block-last-news { order: 5; }
}
@media (min-width: @screen-sm-min) {
	#footbar {
		.dropup {
			text-align: left;
		}
	}
}
@media (min-width: @grid-float-breakpoint) {
	:root {
		--footbar-h: 0;
	}
	#footbar {
		opacity: 1;
		.auto-transition(.35s);

		&.at-top {
			opacity: 0;
		}

		> div {
			position: fixed;
			z-index: 501;
			bottom: 7rem;

			&:last-child {
				right: 4rem;
			}
		}

		.dropup {
			flex: 0 0 auto;
			background-color: transparent;
			left: 4rem;

			.dropdown-toggle {
				> span {
					.sr-only;
				}
			}
		}
		.select-lang {
			left: 4rem;

			+ .dropup {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.dropup .dropdown-toggle > span,
		.toTop a > span {
			.sr-only;
		}

		.share-nav {
			top: 50%;
			left: 100%;
			padding-left: 1rem;
			width: auto;
			bottom: -16px;
			background: transparent;
			height: auto;
			box-shadow: none;
			opacity: 0;
			transform: translateY(-50%);
			visibility: hidden;
		}

		.dropup.open .share-nav {
			bottom: auto;
			opacity: 1;
			z-index: 1;
			visibility: visible;
		}
	}
	/*.desktop {
		#footbar {
			> div {
				position: fixed;
				z-index: 501;
				bottom: 7rem;

				&:last-child {
					right: 4rem;
				}
			}

			.select-lang {
				left: 4rem;

				+ .dropup {
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.dropup {
				flex: 0 0 auto;
				background-color: transparent;
				left: 4rem;

				.dropdown-toggle {
					> span {
						.sr-only;
					}
				}
			}

			.dropup .dropdown-toggle > span,
			.toTop a > span {
				.sr-only;
			}
			.toTop {
				opacity: 1;
				.auto-transition(.35s);

				&.at-top {
					opacity: 0;
				}
			}

			.share-nav {
				top: 50%;
				left: 100%;
				padding-left: 1rem;
				width: auto;
				bottom: -16px;
				background: transparent;
				height: auto;
				box-shadow: none;
				opacity: 0;
				transform: translateY(-50%);
				visibility: hidden;
			}

			.dropup.open .share-nav {
				bottom: auto;
				opacity: 1;
				z-index: 1;
				visibility: visible;
			}
		}
	}*/
}