#navbar-brand a {
	padding: 15px;
}

@media (orientation: landscape), (min-width: @screen-md-min){
	#header .container {
		justify-content: space-between;
		max-width: @screen-lg-min;
	}

	/*#navbar-brand {
		margin-left: 15px;
	}*/

	#header .container > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}