@media (min-width: @screen-sm-min) and (max-width: @grid-float-breakpoint-max) {
	#header {
		.toggle-menu {
			> span {
				width: 20px;
				border-radius: 0;
				background-color: @text-color;
				.auto-transition(.2s);
				.transform-origin(left center);
				
				&:last-child {
					background: none;
				}
			}
			&.open {
				span.icon-bar {
					width: 21px;
					&:first-child {
						transform: rotate(45deg) translate(-1px, -1px);
						& + span {
							.opacity(0);
						}
					}
					&:nth-child(3) {
						transform: rotate(-45deg) translate(-1px,1px);
					}
				}
			}
		}
	}
	
	#sidebar {
		min-height: 100vh;
		flex-direction: column;
		padding-top: 0;
		
		header {
			position: relative;
			height: var(--header-h);
			margin-top: 0;
			margin-bottom: @spacer;
			
			button {
				top: 50%;
				transform: translateY(-50%);
				bottom: auto;
			}
		}
	}
}
@media (min-width: @grid-float-breakpoint) {
	@import "../components/menu/dropdown";
	
	#sidebar {
		header {
			display: none;
		}
		#menul {
			display: flex;
			
			button {
				display: none;
			}
		}
	}
	#menu {
		margin-left: auto;
	}
}
@media (min-width: @screen-lg-min) {
	#main-menu {
		> ul {
			> li {
				&:last-child {
					.dropdown {
						right: 0;
					}
				}
			}
		}
	}
}